body{
  font-family: "Inter",sans-sarif;
}

.main{
  width: 320px;
  margin: 40px auto;
  background-color: #F5F5F5;
  border-radius: 4rem;
  color: #2B283A;  
  text-align: center;
}

img{
  width:100%;
}
.header-name{
  font-size: 1.5rem;
  margin:15px 0 0 0;
}
.header-post{
  margin: 5px 0 2px 0;
  color: #F47D27;
}
.header-site{
  color: #4A4E74;
  text-decoration: none;
  font-size: 0.8rem;

}
.btn-container{
  margin: 20px;
  
}
.btn{
  font-family: "Inter",sans-serif;
  border:none;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 0 8px;

}
.email-btn{
  background-color:#fff;
  border: 1px solid #D1D5DB;

}
.linkedIn-btn{
  display: inline-flex;

  background-color:#297FE5 ;
  color: #F5F5F5; 
}
svg{
  margin-right: 9px;
}

.about-container,
.interest-container{
  width: 250px;
  margin: 20px auto;
  text-align: left;
}
.about-container > h2,
.interest-container > h2{
  margin: 0;
  font-size: 1.2rem;
}
.about-container > p,
.interest-container > p{
  font-size: 0.65rem;
  margin: 5px 0;
}

.social-container{
  background-color: #D5D4D8;
  padding: 1em;
}
